.products-container{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.product-container{
    border:1px solid black;
    border-radius: 8px;
    margin: 20px;
    padding: 5px 18px;
    width: 250px;

}
.product-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.product-img{
height: 10px;


}
.product-description,
.product-availability{
    text-align: center;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}