.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


.contact-form form {
  padding: 30px 40px;
  border-radius: 16px;
  width: 340px;
  background: linear-gradient(135deg, #e9eaec, #e3e5e7);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  border-left: 5px solid #5b3011;
  transition: 0.3s;
}

.contact-form form:hover {
  transform: translateY(-5px);
}

/* Title */
.form-title {
  text-align: center;
  margin-bottom: 15px;
  color: #522f20;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-top: 10px;
  border: 1px solid #101010;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #68412e;
  box-shadow: 0 0 6px rgba(100, 51, 24, 0.3);
}

/* Button */
.contact-form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #9595bc;
  color: rgb(11, 11, 11);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #e5bd46;
}
